.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 20px;
  }
  
  .project-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  .project-card img {
    width: 100%;
    height: auto; 
  }
  
  .buttons-container {
    margin-top: 15px;
  }
  
  button {
    margin: 5px;
  }